body{
    margin: 0;
    font-family: Poppins;
    background-color: #FDF6E3;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
       background-color:#023047;
    color: white;
    gap: 30px;
  }
  .nav{
    gap: 30px;
  }
.logo img{
    height: 120px;
    width: 120px;
    border-radius: 5px;
    
}
.navbar a{
    color: #fff;
}
.hero{
 height: 100vh;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 color: #F5F5F5;
 text-align: center;
 background-color:#FFB703;}
 
.hero h1{
    font-size: 3rem;
    margin-bottom: 10px;
}
.hero p{
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.btn{
    padding: 10px 20px;
background-color:#219EBC;
    color: white;
    border-radius: 5px;
    
}
.btn:hover{
    background-color:#FB8500;
    
}
.about{
    padding: 80px 20px;
    text-align: center;
    background-color:#8ECAE6;
    color:#333;
}
.about h2{
    font-size: 2.5rem;
    margin-bottom: 20px
}
.about p{
    font-size: 1.2rem;
    margin: 0 auto;
  max-width: 700px; 
  line-height: 1.6;  
}
.Project{
    padding: 50px 20px;
    text-align: center;
    background-color:#FFDDD2;
}
.Projects{
    display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.Myproject{
    background-color: #ff6f61;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  width: 250px;
  text-align: center;
}
.contact{
    padding: 60px 20px;
    text-align: center;
    background-color:#FFF9EC;
}
.contact h2{
    font-size: 2rem;
    color:#ff6f61;
    margin-bottom: 20px;
}
.contact form {
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact input, .contact textarea {
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #DDD;
}

.contact-btn {
  background-color: #FFD93D; /* Sunshine Yellow */
  color: #222;
  border: none;
  padding: 12px;
  font-size: 1.1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.contact form {
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact input, .contact textarea {
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #DDD;
}

.contact-btn {
  background-color: #FFD93D; /* Sunshine Yellow */
  color: #222;
  border: none;
  padding: 12px;
  font-size: 1.1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.social_icon{
display: flex;
justify-content: center;
gap: 20px;
}
.footer{
padding: 50px 20px;
text-align: center;
background-color:#023047;
border-top: 5px solid #FB8500;
color:#fff;
}